p{
	font-family:sans-serif; 
	color:#000FF;
	}
	
	#awesomeText {font-family:'Times New Roman'}
	.soft {color:red;}
	.center {text-align: center;}
	.container {margin: 0 auto;}
		
body{
	background-color: #D8D8D8;
		
}

div{
	border-style: dotted;
	}
	
	